<div class="group-tile-ct" *ngIf="(group | async)">
  <div class="group-tile"
    [style.backgroundImage]="'url(' + (group | async)?.imageUrl + ')'">
    <div class="grid-tile-title-ct">
      <div class="grid-tile-title">{{(group | async)?.name}}</div>
      <div class="grid-tile-subtitle">
        {{(group | async)?.description}}
      </div>
    </div>
  </div>
</div>

<h4 *ngIf="(group | async)?.schedule">
  {{(group | async)?.startDate | date}} - {{(group | async)?.endDate | date}}
</h4>

<button md-raised-button color="accent"
  *ngIf="!(isMember | async)"
  (click)="join()">
  Join
</button>
<button md-raised-button color="primary"
  *ngIf="(isMember | async) && !(isOwner | async)"
  (click)="leave()">
  Leave
</button>
<button md-raised-button color="accent"
  *ngIf="(isMember | async) && !(hasSchedule | async)"
  (click)="createSchedule()">
  Create Schedule
</button>

<md-tab-group>
  <md-tab *ngIf="(members | async)" label="Members">
    <md-list>
      <md-list-item *ngFor="let member of (members | async)">
        <img md-list-avatar [src]="member.avatar" alt="avatar">
        <h3 md-line>{{member.displayName}}</h3>
        <p md-line *ngIf="member.schedule">
          {{member.points}} / {{member.pointsPossible}}
        </p>
      </md-list-item>
    </md-list>
  </md-tab>
  <md-tab *ngIf="(isMember | async)" label="Chat">
    <form class="new-post-form">
      <md-input-container class="new-post-message">
        <textarea md-input md-autosize
          placeholder="Post a new message" #message></textarea>
      </md-input-container>
      <button md-icon-button
        (click)="postMessage(message.value); message.value = '';">
        <md-icon>send</md-icon>
      </button>
    </form>
    <md-card class="message-card" *ngFor="let message of (messages | async); trackBy: getKey">
      <md-card-header>
        <img md-card-avatar [src]="message.avatar" alt="avatar">
        <md-card-title>{{message.displayName}}</md-card-title>
        <md-card-subtitle>{{message.date | date:'short'}}</md-card-subtitle>
      </md-card-header>
      <md-card-content [innerHtml]="message.message"></md-card-content>
    </md-card>
    <button md-button *ngIf="(hasMoreMessages | async)"
      (click)="loadMore()">
      Load More
    </button>
  </md-tab>
</md-tab-group>

