<div class="group-tile-ct" *ngIf="(group | async)">
  <div class="group-tile"
    [style.backgroundImage]="'url(' + (group | async)?.imageUrl + ')'">
    <div class="grid-tile-title-ct">
      <div class="grid-tile-title">{{(group | async)?.name}}</div>
      <div class="grid-tile-subtitle">
        {{(group | async)?.description}}
      </div>
    </div>
  </div>
</div>

<h4 *ngIf="(group | async)?.schedule">
  {{(group | async)?.startDate | date}} - {{(group | async)?.endDate | date}}
</h4>

<button md-raised-button color="accent"
  *ngIf="!(isMember | async)"
  (click)="join()">
  Join
</button>
<button md-raised-button color="primary"
  *ngIf="(isMember | async) && !(isOwner | async)"
  (click)="leave()">
  Leave
</button>
<button md-raised-button color="accent"
  *ngIf="(isMember | async) && (scheduleId | async)"
  [routerLink]="['/track', (scheduleId | async)]">
  Track Progress
</button>
<button md-raised-button color="accent"
  *ngIf="(isMember | async) && !(scheduleId | async)"
  (click)="createSchedule()">
  Create Schedule
</button>

<md-tab-group>
  <md-tab *ngIf="(members | async)" label="Members">
    <md-list>
      <md-list-item *ngFor="let member of (members | async)">
        <img md-list-avatar [src]="member.avatar" alt="avatar">
        <h3 md-line>
          {{member.displayName}}
          <span *ngIf="member.isOwner">(owner)</span>
        </h3>
        <p md-line *ngIf="member.schedule">
          {{member.points}} / {{member.pointsPossible}}
        </p>
      </md-list-item>
    </md-list>
  </md-tab>
  <md-tab *ngIf="(isMember | async)" label="Chat">
    <form class="new-post-form">
      <md-input-container class="new-post-message">
        <textarea mdInput md-autosize id="newMessageField"
          placeholder="Post a new message" #message></textarea>
      </md-input-container>
      <md-menu #emojiMenu="mdMenu">
        <md-grid-list cols="7" gutterSize="6" class="emoji-list">
          <md-grid-tile class="emoji-tile"
              *ngFor="let emoji of emojis">
            <button md-icon-button [innerHtml]="emoji | emojify"
              (click)="insertEmoji(emoji)"></button>
          </md-grid-tile>
        </md-grid-list>
      </md-menu>
      <button md-icon-button [mdMenuTriggerFor]="emojiMenu">
        <span [innerHtml]="':smiley:' | emojify"></span>
      </button>
      <button md-icon-button
        (click)="postMessage(message.value); message.value = '';">
        <md-icon>send</md-icon>
      </button>
    </form>
    <md-card class="message-card" *ngFor="let message of (messages | async); trackBy: getKey">
      <md-card-header>
        <img md-card-avatar [src]="message.avatar" alt="avatar">
        <md-card-title>{{message.displayName}}</md-card-title>
        <md-card-subtitle>{{message.date | date:'short'}}</md-card-subtitle>
        <button md-icon-button
          *ngIf="message.userId === user.uid || (isOwner | async)"
          class="delete-message"
          mdTooltip="Delete message"
          mdTooltipPosition="before"
          (click)="deleteMessage(message)">
          <md-icon>delete</md-icon>
        </button>
      </md-card-header>
      <md-card-content>
        <div class="message-content" [innerHtml]="message.message | emojify"></div>
      </md-card-content>
    </md-card>
    <button md-button *ngIf="(hasMoreMessages | async)"
      (click)="loadMore()">
      Load More
    </button>
  </md-tab>
</md-tab-group>

