<div class="social-btn">
  <button md-raised-button class="google-login" (click)="googleLogin()">
    Login with Google
  </button>
</div>
<div class="social-btn">
  <button md-raised-button class="facebook-login" (click)="facebookLogin()">
    Login with Facebook
  </button>
</div>

<div class="spacer">- OR -</div>

<form>
  <div class="form-group">
    <md-input type="text" [(ngModel)]="email"
      name="email" placeholder="Email"></md-input>
  </div>
  <div class="form-group">
    <md-input type="password" [(ngModel)]="password"
      name="password" placeholder="Password"></md-input>
  </div>
  <button md-raised-button color="primary" (click)="login()">
    Login with Email
  </button>
</form>

<div class="spacer-2">Don't have an account?</div>

<button md-button color="primary" routerLink="/register">
  Register with Email
</button>


