<h1>{{(schedule | async)?.programTitle}} - Day {{programDay}}</h1>
<h3>Points: {{(schedule | async)?.points}} / {{(schedule | async)?.pointsPossible}}</h3>
<h4>
  <button md-icon-button (click)="moveDay(-1)"
    [disabled]="programDay === 1">
    <md-icon>arrow_back</md-icon>
  </button>
  {{date?.toISOString() | date:'EEE, MMM d, y'}}
  <button md-icon-button (click)="moveDay(1)"
    [disabled]="programDay === 90">
    <md-icon>arrow_forward</md-icon>
  </button>
</h4>
<md-list>
  <h2 md-subheader *ngIf="showFitTest()">
    Fit Test
  </h2>
  <md-list-item *ngIf="showFitTest()">
    <p md-line>
      <button md-raised-button color="accent"
          [routerLink]="['/fittest', scheduleId, getDay()]">
        Take Fit Test
      </button>
    </p>
    <p md-line class="fit-test-results" *ngIf="(fitTest | async)?.points">
      <md-icon>check_circle</md-icon>
      Results: {{(fitTest | async)?.points}} / {{(fitTest | async)?.pointsPossible}}
      <br>
      <a href="" routerLink="/progress">View Progress</a>
    </p>
  </md-list-item>
  <h2 md-subheader>
    Daily Tasks
  </h2>
  <md-list-item *ngFor="let task of (dailyEntries | async); trackBy: taskKey">
    <md-checkbox [checked]="task.finished"
                 (change)="checkEntry('daily', task, $event.checked)">
    </md-checkbox>
    <h3 md-line>
      {{(task.details | async)?.title}}
    </h3>
    <p md-line class="sub-task" *ngIf="(task.subtaskDetails | async)">
      <a *ngIf="(task.subtaskDetails | async)?.link" [href]="(task.subtaskDetails | async)?.link" target="_blank">
        {{(task.subtaskDetails | async)?.title}}
      </a>
      <span *ngIf="!(task.subtaskDetails | async)?.link">
        {{(task.subtaskDetails | async)?.title}}
      </span>
    </p>
    <p md-line class="task-description">
      {{(task.details | async)?.description}}
    </p>
  </md-list-item>
  <h2 md-subheader *ngIf="(monthlyEntries | async)?.length">
    Monthly Tasks
  </h2>
  <md-list-item *ngFor="let task of (monthlyEntries | async); trackBy: taskKey">
    <md-checkbox [checked]="task.finished"
                 (change)="checkEntry('monthly', task, $event.checked)">
    </md-checkbox>
    <h3 md-line>
      {{(task.details | async)?.title}}
    </h3>
    <p md-line class="task-description">
      {{(task.details | async)?.description}}
    </p>
  </md-list-item>
</md-list>
