.sub-task {
    font-style: italic;
}

.task-description {
    opacity: 0.5;
    white-space: normal;
}

.fit-test-results {
    md-icon {
        vertical-align: middle;
    }
}

p[md-line] {
    margin-top: 8px;
}
