.sub-task {
    font-style: italic;
}

.task-description {
    opacity: 0.5;
    white-space: normal;
}

.fit-test-results {
    float: right;
    margin-left: 10px;
}

p[md-line] {
    margin-top: 8px;
}
