<h1>{{(schedule | async)?.programTitle}} - Day {{programDay}}</h1>
<h3>Points: {{(schedule | async)?.points}} / {{(schedule | async)?.pointsPossible}}</h3>
<h4>
  <button md-icon-button (click)="moveDay(-1)"
    [disabled]="programDay === 1">
    <md-icon>arrow_back</md-icon>
  </button>
  {{date?.toISOString() | date:'EEE, MMM d, y'}}
  <button md-icon-button (click)="moveDay(1)"
    [disabled]="programDay === 90">
    <md-icon>arrow_forward</md-icon>
  </button>
</h4>
<md-list>
  <md-list-item *ngIf="showFitTest()">
    <button md-raised-button color="accent" 
        [routerLink]="['/fittest', scheduleId, getDay()]">
      Take Fit Test
    </button>
  </md-list-item>
  <h3 md-subheader>
    Daily Tasks
  </h3>
  <md-list-item *ngFor="let task of (dailyEntries | async); trackBy: task?.$key">
    <md-checkbox [checked]="task.finished"
                 (change)="checkEntry('daily', task, $event.checked)">
    </md-checkbox>
    <h2 md-line>
      {{task.title}}
    </h2>
    <p md-line class="sub-task" *ngIf="task.subTask">
      {{task.subTask}}
    </p>
    <p md-line class="task-description">
      {{task.description}}
    </p>    
  </md-list-item>
  <h3 md-subheader>
    Monthly Tasks
  </h3>
  <md-list-item *ngFor="let task of (monthlyEntries | async); trackBy: task?.$key">
    <md-checkbox [checked]="task.finished"
                 (change)="checkEntry('monthly', task, $event.checked)">
    </md-checkbox>
    <h2 md-line>
      {{task.title}}
    </h2>
    <p md-line class="sub-task" *ngIf="task.subTask">
      {{task.subTask}}
    </p>
    <p md-line class="task-description">
      {{task.description}}
    </p>    
  </md-list-item>
</md-list>