<button md-fab routerLink="/newschedule">
    <md-icon class="md-24">add</md-icon>
</button>
<h2>Manage Schedules</h2>
<md-list>
  <md-list-item *ngFor="let item of list | async">
    <h3 md-line>{{ item.programTitle }}</h3>
    <p md-line class="schedule-dates">{{item.startDate | date}} - {{item.endDate | date}}</p>
    <button md-icon-button routerLink="/editschedule/{{item.$key}}">
      <md-icon>edit</md-icon>
    </button>
    <button md-icon-button (click)="removeSchedule(item)">
      <md-icon>delete</md-icon>
    </button>
    </md-list-item>
</md-list>
