<md-toolbar color="primary">
  <h1>
    {{title}}
  </h1>
  <div class="spacer"></div>
  <div *ngIf="(user | async)">
    {{ (user | async)?.firstName }} {{ (user | async)?.lastName }}
    <img gravatar [email]="(user|async)?.email" size="40">
    <button md-icon-button *ngIf="(af.auth | async)" (click)="logout()">
      <md-icon>power_settings_new</md-icon>
    </button>
  </div>
  <div *ngIf="!(af.auth | async)">
    <input type="text" [(ngModel)]="email" placeholder="Email">
    <input type="password" [(ngModel)]="password" placeholder="Password">
    <button md-button (click)="login()">
      Login
    </button>
    <button md-button (click)="register()">
      Register
    </button>
  </div>
</md-toolbar>


<div *ngIf="(af.auth | async)">
  <md-list>
    <md-list-item *ngFor="let item of list | async">
      <h3 md-line>{{ item.programTitle }}</h3>
      <p md-line>{{item.startDate | date}} - {{item.endDate | date}}</p>
    </md-list-item>
  </md-list>
</div>

