<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav (click)="sidenav.close()">
    <md-nav-list>
      <a md-list-item routerLink="/schedules">
        Manage Schedules
      </a>
      <a md-list-item (click)="auth.logout()"
         *ngIf="(auth.user | async)">
        Logout
      </a>
    </md-nav-list>
  </md-sidenav>

  <div class="app-ct">
    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
      <h1 class="app-logo" routerLink="/">
        <img src="/assets/logo-noback.png" alt="{{title}}">
      </h1>
      
      <div class="spacer"></div>
      
      <div *ngIf="(auth.user | async)">
        <span class="user-name">{{ (auth.user | async)?.displayName }}</span>
        <img class="user-avatar" src="{{(auth.user | async)?.avatar}}" alt="">
        <!--<img gravatar [email]="(auth.user|async)?.email" size="40">-->
      </div>
      <div *ngIf="!(auth.user | async)">
        <button md-button routerLink="/login">
          Login
        </button>
      </div>
    </md-toolbar>

    <div class="top-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</md-sidenav-layout>

