<h2>Spiritual Fit Test ({{answers?.points}}/{{answers?.pointsPossible}})</h2>
<div *ngFor="let group of (fitTest | async); trackBy: group?.$key" md-subheader>
  <h3 class="category">{{group?.title}} ({{answers[group.$key].points}}/{{answers[group.$key].pointsPossible}})</h3>
  <div *ngFor="let question of (questionLists[group?.$key] | async); trackBy: question?.$key">
    <p class="question" md-line>
      {{question.title}} ({{question.scripture}})
    </p>
    <p md-line>
      <!--<md-slider [(ngModel)]="answers[group.$key][question.$key]"
        min="1" max="5" step="1" tick-interval="1"></md-slider>-->
      <md-radio-group [(ngModel)]="answers[group.$key][question.$key]"
          (change)="updatePoints()">
        <md-radio-button value="1">never</md-radio-button>
        <md-radio-button value="2">sometimes</md-radio-button>
        <md-radio-button value="3">often</md-radio-button>
        <md-radio-button value="4">almost always</md-radio-button>
        <md-radio-button value="5">always</md-radio-button>
      </md-radio-group>
    </p>
  </div>
</div>
