<md-toolbar class="md-elevation-z4">
  <span class="title">Spiritual Fit Test - {{date | date}}</span>
  <span class="spacer"></span>
  <button md-button (click)="submit()">
    SAVE
  </button>
</md-toolbar>

<md-tab-group *ngIf="questionLists" [selectedIndex]="selectedTab" (selectChange)="selectedTab = $event.index">
  <md-tab *ngFor="let group of (fitTest | async); let lastGroup = last; trackBy: group?.$key"
    [label]="group?.title">
    <div class="section">
      <h2 #header>{{group?.title}}</h2>
      <div class="question-group"
        *ngFor="let question of questionLists[group?.$key]; trackBy: question?.$key">
        <p class="question" md-line>
          {{question.title}}
          <a class="question-scripture" [href]="question.link" target="sp90xScriptureWindow">
            {{question.scripture}}
          </a>
        </p>
        <p>
          <md-radio-group [(ngModel)]="answers.groups[group.$key].questions[question.$key]"
              (change)="updatePoints()">
            <md-radio-button value="1">Never</md-radio-button>
            <md-radio-button value="2">Sometimes</md-radio-button>
            <md-radio-button value="3">Often</md-radio-button>
            <md-radio-button value="4">Almost always</md-radio-button>
            <md-radio-button value="5">Always</md-radio-button>
          </md-radio-group>
        </p>
      </div>

      <button md-raised-button color="accent" (click)="header.scrollIntoView(true); selectedTab=selectedTab+1">Next</button>
    </div>
  </md-tab>
  <md-tab *ngIf="(fitTest | async)?.length" label="Results">
    <div class="section">
      <md-card>
        <h2>Results</h2>
        <md-list>
          <md-list-item *ngFor="let group of (fitTest | async); let lastGroup = last; trackBy: group?.$key">
            {{group?.title}}: {{answers.groups[group.$key].points}}/{{answers.groups[group.$key].pointsPossible}}        
          </md-list-item>
        </md-list>
        <h3>Total: {{answers?.points}}/{{answers?.pointsPossible}}</h3>
        <button md-raised-button color="accent" (click)="submit()">SAVE</button>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>
