a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.group-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  md-card {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;

    // md-card-actions {
    //   display: flex;
    //   justify-content: flex-end;
    // }
  }
}

[md-fab] {
    position: fixed;
    right: 42px;
    top: 36px;
}
@media (max-width: 960px) and (orientation: landscape) {
  [md-fab] {
      top: 20px;
  }
}

.group-tile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

