:host {
    display: flex;
    flex-direction: column;
    > * {
        flex: 1 1 auto;
        margin-bottom: 40px;
    }
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    clear: both;
}

md-input-container,
md-select {
    min-width: 200px;
}
md-select {
    margin: 16px 0;
}

md-list-item {
  margin-bottom: 8px;
}

@media (max-width:640px) {
  md-list-item {
    height: 100px;
  }
}

fieldset {
  min-width: 0;
}

.task-title {
  white-space: normal;
}

.task-description {
    white-space: normal;
    opacity: 0.3;
}
