<form [formGroup]="editForm">
  <!--<div class="form-group instructions">
    <label>Instructions:</label>
    <ul>
      <li>Choose a program from the list.</li>
      <li>Name it and choose a day to start.</li>
      <li>Modify the program to fit your needs by unchecking the tasks you will not do.</li>
    </ul>
  </div>-->
  <div class="form-group">
    <label>Program:</label>
    <md-radio-group formControlName="program">
      <md-radio-button *ngFor="let program of (programs | async)"
        [value]="program.$key">
        {{ program.title }}
      </md-radio-button>
    </md-radio-group>
    <!--<md-select formControlName="program">
      <md-option *ngFor="let program of (programs | async)" [value]="program.$key">
        {{ program.title }}
      </md-option>
    </md-select>-->
  </div>
  <div class="form-group">
    <label>Title:</label>
    <md-input-container>
      <input md-input type="text" formControlName="programTitle">
    </md-input-container>
  </div>
  <div class="form-group">
    <label>Start date:</label>
    <md-input-container>
      <input md-input type="date" formControlName="startDate">
    </md-input-container>
  </div>
  <fieldset class="form-group" *ngIf="(filteredTasks | async)?.length">
    <legend>Program Details</legend>
    <h2>{{currentProgram?.title}}</h2>
    <p>{{currentProgram?.description}}</p>
    <md-list>
      <md-list-item *ngFor="let task of (filteredTasks | async)">
        <md-checkbox [checked]="task.include"
          (change)="task.include = $event.checked">
        </md-checkbox>
        <h3 md-line class="task-title">{{task.title}} ({{task.defaultInterval}})</h3>
        <p md-line class="task-description">{{task.description}}</p>
      </md-list-item>
    </md-list>
  </fieldset>
  <button md-raised-button color="accent" type="button"
    [disabled]="editForm.invalid" (click)="save()">Save</button>
  <button md-raised-button color="primary" type="button"
    (click)="cancel()">Cancel</button>
</form>
