<form [formGroup]="editForm">
  <div>
    <label>Title:</label>
    <md-input type="text" formControlName="programTitle"></md-input>
  </div>
  <div>
    <label>Start date:</label>
    <md-input type="date" formControlName="startDate"></md-input>
  </div>
  <div>
    <label>End date:</label>
    <md-input type="date" formControlName="endDate"></md-input>
  </div>
  <button md-raised-button color="primary" type="submit"
    [disabled]="editForm.status !== 'VALID'" (click)="save()">Save</button>
  <button md-raised-button color="primary" 
    routerLink="/schedules">Cancel</button>
</form>
