:host {
    display: flex;
    flex-direction: column;
    > * {
        flex: 1 1 auto;
        margin-bottom: 40px;
    }
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    clear: both;
}

md-input-container,
md-select {
    min-width: 200px;
}
md-select {
    margin: 16px 0;
}

.task-description {
    white-space: normal;
    opacity: 0.3;
}