/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
// @import '~@angular/material/core/theming/prebuilt/purple-green.scss';

@import '~@angular/material/core/theming/all-theme';

@include md-core();

// LIGHT
// $primary: md-palette($md-blue-grey);
// $accent:  md-palette($md-deep-orange, A200, A100, A400);

// $warn:    md-palette($md-red);

// $theme: md-light-theme($primary, $accent, $warn);

// @include angular-material-theme($theme);

// DARK
$dark-primary: md-palette($md-grey);
$dark-accent:  md-palette($md-deep-orange, A200, A100, A400);
$dark-warn:    md-palette($md-red);

$dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

// OTHER
body, html {
    margin: 0;
    background-color: map-get($md-dark-theme-background, background);
    color: white;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,h2,legend,
md-card-title,
md-toolbar .title {
    font-family: 'Audiowide', Roboto, 'Helvetica Neue', sans-serif;
    // letter-spacing: 1px;
}

[md-button],
[md-raised-button] {
  text-transform: uppercase;
}

a {
    color: md-color($dark-accent, A200);
}

svg text {
    fill: white !important;
}

.app-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.md-tab-header {
    overflow-x: auto !important;
}
