<div *ngIf="(user | async)">

  <button md-fab routerLink="/newschedule">
      <md-icon class="md-24">add</md-icon>
  </button>

  <h1>Your Schedules</h1>

  <div *ngIf="(list | async)?.length == 0">
    Click the plus button to get started.
  </div>

  <div class="schedule-cards">
    <md-card *ngFor="let item of list | async">
      <md-card-title>
        {{ item.programTitle }}
      </md-card-title>
      <md-card-subtitle class="schedule-dates">
        {{item.startDate | date}} - {{item.endDate | date}}
      </md-card-subtitle>
      <md-card-content>
        <p md-line class="schedule-points">
          Points: {{item.points}} / {{item.pointsPossible}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button
          (click)="removeSchedule(item)">
          DELETE
        </button>
        <button md-raised-button color="accent"
          routerLink="/track/{{item.$key}}">
          TRACK
        </button>
      </md-card-actions>
    </md-card>
  </div>

</div>

<div>
  <h2>Welcome to SP90X!</h2>
  <p>
    <iframe src="https://docs.google.com/presentation/d/1HM_M4D2peOkCiKECx2k-tK0CYTyqjf1MIbvnoEgUHmY/embed?start=false&loop=true&delayms=15000"
      frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </p>
  <p>
    Download the program guide:
  </p>
  <ul>
    <li><a href="/assets/SP90XProgramGuide.doc" download="SP90XProgramGuide.doc">Word Format (.doc)</a></li>
    <li><a href="/assets/SP90XProgramGuide.pdf" download="SP90XProgramGuide.pdf">PDF Format</a></li>
  </ul>
</div>

