a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.schedule-points {
    opacity: 0.5;
}

.schedule-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  md-card {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 325px;

    md-card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}

[md-fab] {
    position: fixed;
    right: 42px;
}

[md-list-item] {
    button {
        flex: 0 0 auto;
    }
}
