a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.schedule-tile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

[md-fab] {
    position: fixed;
    right: 42px;
    top: 36px;
}
@media (max-width: 960px) and (orientation: landscape) {
  [md-fab] {
      top: 20px;
  }
}

[md-list-item] {
    button {
        flex: 0 0 auto;
    }
}
