:host {
    position: relative;
    display: flex;
    flex-direction: column;
    > * {
        flex: 1 1 auto;
        margin-bottom: 40px;
    }
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    clear: both;
}

md-input-container,
md-select {
  min-width: 275px;
}

md-radio-button,
md-checkbox {
  display: block;
  margin: 6px;
}

// md-radio-button {
//   margin-left: 32px;
// }

.schedule-date {
  font-size: 12px;
  opacity: 0.5;
}

.schedule-template {
  margin: 16px 0;
}

.delete-group {
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

